In [1]:
import pandas as pd
from numpy import genfromtxt
import numpy as np
import random

my_data = genfromtxt('data.csv', delimiter=',')
data = np.array(my_data)
random.shuffle(data)

In [2]:

x_max_value = np.max(data[:,1])
y_max_value = np.max(data[:,2])
x_min_value = np.min(data[:,1])
y_min_value = np.min(data[:,2])

x_train = (data[:20000,1] - x_min_value) / (x_max_value-x_min_value)
y_train = (data[:20000,2] - y_min_value) /(y_max_value-y_min_value)
x_test = (data[20000:,1] - x_min_value) /(x_max_value-x_min_value)
y_test =  (data[20000:,2] - y_min_value) /(y_max_value-y_min_value)

# normalization

pd.DataFrame(x_train[:20])

           0
0   4.524253
1   4.524253
2   4.772904
3   4.691602
4   4.691602
5   4.524253
6   4.800641
7   4.524253
8   4.670010
9   4.800641
10  4.918464
11  4.800641
12  4.918464
13  4.697509
14  4.918464
15  4.691602
16  4.572696
17  4.572696
18  4.570861
19  4.898872